body {
  padding-top: 50px;
}

.banner {
  padding: 40px 15px;
  text-align: center;
	background: lightblue;
	padding: 140px 0;
}

.profile-pic {
	height: 160px;
	border-radius:50%;
	border: 8px solid white;
}

.project-cell {
	text-align: center;
}

.project-thumbnail {
	margin-top: 80px;
	text-decoration: none;
	width:240px;
	height:240px;
	border: 1px solid lightgrey;
}

.project-title {
	position: absolute;
	left: 0;
	right: 0;
	top: 188px;
}

.bla {
	display: inline-block;
}

.bla .project-title {
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.bla:hover .project-title {
	opacity: 1;
}