body {
  padding-top: 50px;
}

.banner {
  text-align: center;
	padding-top: 80px;
	background: linear-gradient(transparent, #fff) left repeat;
}

.portrait {
	height: 160px;
	border-radius: 50%;
	border: 2px solid #000;
}

.thumbnailWrapper {
	display: inline-block;
	width: 240px;
	height: 240px;
	border: 2px #000 solid;
	margin-top: 80px;
	border-radius: 20px;
}

.thumbnailWrapper img {
	opacity: 1;
	transition: all 0.4s ease-in-out;
	border-radius: 20px;
	height:100%;
	width:100%;
}

.thumbnailWrapper:hover img {
	opacity: 0.4;
}

.projectName {
	position: absolute;
	left: 0;
	right: 0;
	top: 188px;
}

.thumbnailWrapper .projectName {
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.thumbnailWrapper:hover .projectName {
	opacity: 1;
}

.thumbnailContainer {
	padding-bottom: 80px;
	font-size: 16px;
	text-align: center;
}

.social-container {
  width: 100%;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.4em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  transition: all 265ms ease-out;
}

.fa-linkedin {
  top: 10px;
	left: 12px;
}

.fa-github {
  top: 11px;
	left: 12px;
}

.fa-facebook {
  top: 12px;
	left: 14px;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #1DA1F2, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  color: #1DA1F2;
  background: -webkit-linear-gradient(45deg, #1DA1F2, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

.social-icons a.social-square:before {
  background: linear-gradient(45deg, #7b00e0, #ae31d9);
  border-radius: 10%;
}

.social-icons a.social-square:hover:before {
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -webkit-transform: scale(-180deg);
  border-radius: 100%;
}

.social-icons a.social-square:hover i {
  transform: scale(1.6);
  -ms-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  color: #fff;
  transform: scale(1.6);
  -webkit-text-fill-color: #fff;
}